<html>
  <body>
    <h1>Inventory:</h1>
    <form action="/" method="post">
      <h2>Categories:</h2>
      <% categories.forEach(element => { %>
      <input
        type="checkbox"
        id="<%= element.category %>"
        name="<%= element.category %>"
        value="<%= element.category %>"
        checked
      />
      <label for="<%= element.category %>"><%= element.category %></label>
      <% }) %>
      <h2>Developers:</h2>
      <% developers.forEach(element => { %>
      <input
        type="checkbox"
        id="<%= element.developer %>"
        name="<%= element.developer %>"
        value="<%= element.developer %>"
        checked
      />
      <label for="<%= element.developer %>"><%= element.developer %></label>
      <% }) %>
    </form>

    <a href="/createItem"><span>Create item</span></a>
    <span>//<span>
    <a href="/createCategory"><span>Create category</span></a>
    <span>//<span>
    <a href="/createDeveloper"><span>Create developer</span></a>
    <hr />
    <% inventory.forEach(element => { %>
    <div>
      <h1><%= element.game_name %></h1>
      <h2>Genre: <%= element.game_genre %></h2>
      <h2>Developer: <%= element.game_developer %></h2>
      <p>Quantity: x<%= element.game_quantity %></p>
      <button>Remove Item</button>
    </div>
    <hr />
    <% }); %>
  </body>
</html>
