<html>
  <body>
    <h1>Inventory:</h1>
    <form action="/" method="post">
      <h2>Genres:</h2>
      <% genres.forEach(element => { %>
      <input
        type="checkbox"
        id="<%= element.genre %>"
        name="<%= element.genre %>"
        value="<%= element.genre %>"
        checked
      />
      <label for="<%= element.genre %>"><%= element.genre %></label>
      <% }) %>
      <h2>Developers:</h2>
      <% developers.forEach(element => { %>
      <input
        type="checkbox"
        id="<%= element.developer %>"
        name="<%= element.developer %>"
        value="<%= element.developer %>"
        checked
      />
      <label for="<%= element.developer %>"><%= element.developer %></label>
      <% }) %>
    </form>
  
    <a href="/createGame"><span>Create game</span></a>
    <span>//<span>
    <a href="/createGenre"><span>Create genre</span></a>
    <span>//<span>
    <a href="/createDeveloper"><span>Create developer</span></a>
    <hr />
    <form action="/" method="post">
      <label for="search">Search Game: </label>
      <input type="text" name="search" id="search">
      <button type="submit">Submit</button>
    </form>
    <hr />
    <% inventory.forEach(element => { %>
    <div>
      <h1><%= element.game_name %></h1>
      <h2>Genre: <%= element.game_genre %></h2>
      <h2>Developer: <%= element.game_developer %></h2>
      <button>Remove Item</button>
    </div>
    <hr />
    <% }); %>
  </body>
</html>
